:root {
  --primary-color: rgb(0, 104, 239);
}

.banner {
  display: flex;
  -webkit-box-pack: center;
  min-width: 100%;
  border-radius: 4px;
  margin-top: 5px;
  overflow-x: scroll;
  overflow-wrap: break-word;
}

.cst-modal {
  display: block;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}
.cst-modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 99999999;
}


button#cst-modal-close {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  padding: 1px;
  width: 10%;
  height: 30px;
  border-color: rgb(0, 104, 239);
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  margin: 0px;
  background-color: rgb(0, 104, 239);
  color: rgb(255, 255, 255);
}

button#cst-modal-close:hover {
  background-color: rgb(0, 68, 153);
  border-color: rgb(0, 68, 153);
  color: rgb(255, 255, 255);
  border-radius: 0px;
}

.ant-modal-close-icon {
  margin-top : 20px;
}

.banner-heading {
  font-size: 0.9em;
  font-weight: 700;
  font-family: inherit;
  min-height: 40px;
}

.banner-heading>span>span {
  color: var(--primary-color)
}

.banner-item {
  font-size: 0.8em;
  font-family: inherit;
  margin: auto;
  flex: 0.75;
  padding-left: 8px;
}

.banner-background {
  margin-bottom: 8px;
  display: flex;
  flex-flow: column;
  background: rgb(244, 246, 248);
  border: 1px solid rgb(244, 246, 248);
  border-radius: 6px;
  padding: 8px;
}

.info-button {
  vertical-align: bottom;
  cursor: pointer;
}

.card {
  cursor: pointer;
  color: inherit;
  display: flex;
  flex-direction: row;
  min-width: 156px;
  height: 100%;
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  border: 1px solid rgb(192, 202, 213);
  display: flex;
  margin-right: 8px;
  min-height: 80px;
  width: 33%;
}

.card-icon {
  flex: 0.25;
  height: 100%;
  min-width: 56px;
  margin: auto;
}

@media(max-width:550px) {
  .banner-item {
    font-size: 0.7em;
  }
  .card {
    min-height: 50px;
  }

  .banner-heading {
    font-size: 0.8em;
  }
}

.ant-popover-arrow {
  height: 9px !important;
}

.ant-popover-arrow-content {
  border: 1px solid;
}

.ant-popover-inner {
  border: 1px solid;
}

.popover-body {
  width: 300px;
  font-size: 12px;
}

.popover-body>ul>li {
  margin-top: 10px;
}

.flexBox {
  display: flex;
}

.left-column {
  flex: 0.9
}

.right-column {
  flex: 0.1
}

.ongoing-restrictions strong {
  font-weight: 700;
}


.ant-card-head-wrapper, .ant-card-body {
  font-size: 12px;
}

.ant-card-small {
  min-width: 200px;
}

.modal-heading {
  color: "var(--primary-color)";
  font-size: 14px
}

.last-updated {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ant-comment-avatar span svg {
  width: 35px;
  height: 35px;
}